* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: block;
  border: none;
  padding: 7px 20px;
  color: #ffffff;
}

.btn:disabled {
  background: #bbbbbb;
}

.btn:enabled {
  background: #555555;
  cursor: pointer;
}

.btn:enabled:hover {
  background: #666666;
}